<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>English</string>
<key>CFBundleExecutable</key>
<string>MChorusMB.bin</string>
<key>CFBundleGetInfoString</key>
<string>MChorusMB</string>
<key>CFBundleIdentifier</key>
<string>com.meldaproduction.MChorusMB</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>MChorusMB</string>
<key>CFBundlePackageType</key>
<string>BNDL</string>
<key>CFBundleSignature</key>
<string>Meld</string>
<key>CFBundleVersion</key>
<string>14.07</string>
<key>VSTWindowCompositing</key>
<true/>
<key>NSHighResolutionCapable</key>
<true/>
</dict>
</plist>
